<div class="panel-default row">
    <div class="col-sm-4 text-center">
        <table class="table table-responsive table-hover">
            <thead class="thead-inverse">
            <tr>
                <th width="15%">#</th>
                <th width="20%">&nbsp;</th>
                <th width="55%">Name</th>
            </tr>
            </thead>
            <tbody align="left">
            <tr ng-repeat="object in docsInFolder | filter:searchText | orderBy: 'name'" ng-click="openDoc(object)" ng-class="highlightSelection(object)">
                <td width="15%">{{$index + 1}}</td>
                <td width="20%"><image style="width:60px; height:40px;" ng-src={{object.imageUrl}} /></td>
                <td width="55%">{{object.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-8 text-center" id="dossierContainer" data-ng-init="showDossier()">
    </div>

</div>
